{% extends 'base.html' %} {% block content %}

<h2>{{page_title}}</h2>
<p>
  The story takes place in Spain during the summer of 1944, five years after the
  Spanish Civil War, during the early Francoist period. The narrative
  intertwines this real world with a mythical world centered on an overgrown,
  abandoned labyrinth and a mysterious faun creature, with whom the main
  character, Ofelia, interacts. Ofelia's stepfather, the Falangist Captain
  Vidal, hunts the Spanish Maquis who fight against the Francoist regime in the
  region, while Ofelia's pregnant mother Carmen grows increasingly ill. Ofelia
  meets several strange and magical creatures who become central to her story,
  leading her through the trials of the old labyrinth garden. The film employs
  make-up, animatronics, and CGI effects to bring life to its creatures.
</p>
{% for member in company_data%}

<div class="row featurette">
  {%if loop.index %2!=0%}
  <div class="col-md-7">
    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{ member.name }}</a></h3>
    <p>
      {{ member.description }}
    </p>
  </div>
  <div class="flex col-md-5">
    <img
      class="featurette-image img-responsive"
      src="{{ member.image_source }}"
      alt=""
      srcset=""
    />
  </div>
  {%else%}
  <div class="flex col-md-5">
    <img
      class="featurette-image img-responsive"
      src="{{ member.image_source }}"
      alt=""
      srcset=""
    />
  </div>
  <div class="col-md-7">
    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{ member.name }}</a></h3>
    <p>
      {{ member.description }}
    </p>
  </div>

  {%endif%}
</div>
{% if loop.index != 5%}
<hr class="featurette-divider" />
 {%endif%}
{%endfor%} {% endblock %}
